.subtituloscolor {
	font-family: 'Asap';
	color: #374181;
	font-weight: bold;
	text-align: center;
	/*font-size: 3vh;*/
	font-size: x-large;
	line-height: 1em;
	margin-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}