.titulo22 {
	font-family: 'Asap',serif;
	font-weight: bold;
	color: #354587;
	text-align: center;
	font-size:6vw;
	padding-bottom: 2vw;
	padding-top: 2vw;
	/*padding-bottom: 2rem;*/
	/*padding-top: 2rem;*/
	flex-wrap: wrap;
	/*font-size: xx-large;*/
	width: 100%;
	box-sizing: border-box;
}