.tituloscolor {
	font-family: 'Asap';
	color: #374181;
	font-weight: bold;
	text-align: center;
	/*font-size: 2vh;*/
	line-height: 1em;
	margin-right: 15px;
	/*font-size: x-large;*/
	font-size: large;
	width: 100%;
	box-sizing: border-box;
	
}

@media (max-width: 701px) {

.tituloscolor {
	font-family: 'Asap';
	color: #374181;
	font-weight: bold;
	text-align: center;
	/*font-size: 2vh;*/
	line-height: 1em;
	margin-right: 15px;
	font-size: medium;
	width: 100%;
	box-sizing: border-box;
}

}